/*---Stories---*/
.stories-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2% 2% 0% 5%;
  display: inline-block;
  font-size: 150%;
  width: 100%;
}

.orange-in-story-left {
  background-color: rgb(247, 151, 7);
  width: 40%;
  height: 50%;
  position: absolute;
  margin: -2% 0% 0% -2%;
}
.graduate-img-left {
  float: left;
  width: 20%;
  position: relative;
}

.story-right {
  float: left;
  width: 70%;
  margin-left: 2%;
  text-align: justify;
  position: relative;
}

/**/
.orange-in-story-right {
  background-color: rgb(247, 151, 7);
  width: 40%;
  height: 60%;
  position: absolute;
  margin: -2% 0% 0% 54%;
}
.graduate-img-right {
  float: right;
  width: 26%;
  position: relative;
}

.story-left {
  float: left;
  width: 70%;
  margin-left: 2%;
  text-align: justify;
  position: relative;
}

@media screen and (max-width: 760px) /*Mobile*/ {
  .stories-container {
    font-size: 120%;
  }

  .graduate-img-left {
    width: 90%;
  }
  .story-right {
    width: 90%;
  }
  .orange-in-story-left {
    width: 70%;
    height: 60%;
    margin: -2% 0% 0% 20%;
  }
  .orange-in-story-right {
    width: 70%;
    height: 60%;
    margin: -2% 0% 0% 0%;
  }
  .graduate-img-right {
    width: 90%;
  }

  .story-left {
    width: 90%;
  }
}

/*-------------Photo and discription medium ------------------*/
.photo-and-description__img-medium-left {
  float: left;
  width: 30%;
  position: relative;
}

.photo-and-description__text-medium-right {
  float: left;
  width: 65%;
  margin-left: 2%;
  text-align: justify;
  position: relative;
}

.photo-and-description__img-medium-right {
  float: right;
  width: 30%;
  position: relative;
}

.photo-and-description__text-medium-left {
  float: left;
  width: 65%;
  margin-left: 2%;
  text-align: justify;
  position: relative;
}
@media screen and (max-width: 760px) /*Mobile*/ {
  .photo-and-description__img-medium-left,
  .photo-and-description__img-medium-right {
    width: 90%;
    margin: 0% 2% 2% 2%;
  }

  .photo-and-description__text-medium-right,
  .photo-and-description__text-medium-left {
    width: 90%;
    text-align: justify;
    padding-right: 5%;
    font-size: 80%;
  }
} /*Mobile*/
